* text=auto eol=lf

*.png binary
*.jpg binary
*.webp binary
*.woff binary
*.woff2 binary

/.github export-ignore
/art export-ignore
/tests export-ignore
/workbench export-ignore
/testbench.yaml export-ignore
/phpunit.xml export-ignore
